@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
  background-image: url("../../../public/images/hero-new.jpg");
}

.custom-link {
  @apply relative inline-block text-current;
}

.custom-link::before,
.custom-link::after {
  @apply absolute w-0 h-0.5 bg-current transition-all duration-300 ease-in-out;
  content: "";
  bottom: 0;
}

.custom-link::before {
  left: 50%;
}

.custom-link::after {
  right: 50%;
}

.custom-link:hover::before {
  @apply w-1/2;
  left: 0;
}

.custom-link:hover::after {
  @apply w-1/2;
  right: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: black;
  width: 80%;
  max-width: 500px;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: gray;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-submit {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
